<footer class="default-footer">
  <div class="default-footer-section">
    <nav class="default-footer-navbar">
      <a href="mailto:viktorhapka@gmail.com">Email</a>
      <a target="_blank" href="https://vk.com">VK </a>
      <a target="_blank" href="https://linkedin.com">LinkedIn </a>
      <a target="_blank" href="https://github.com">GitHub </a>
      <a target="_blank" href="https://leetcode.com">LeetCode </a>
    </nav>
  </div>
  <span>Server Response Time: {{> loadTime}} + {{ responseTime }} </span>
</footer>