<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Резюме страница Виктора Хапки">
<meta name="keywords" content="resume, Viktor, Hapka, CV">
<link rel="shortcut icon" href="Sources/MediaSources/main_icon.png" type="image/png">
<link rel="stylesheet" href="Sources/Styles/Layouts/body.css" type="text/css">
<link rel="stylesheet" href="Sources/Styles/Layouts/header.css" type="text/css">
<link rel="stylesheet" href="Sources/Styles/Layouts/main.css" type="text/css">
<link rel="stylesheet" href="Sources/Styles/Layouts/footer.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
<script src="Sources/Scripts/activeButton.js"></script>
<title>{{title}}</title>