<header class="default-header">
  <div class="header-hat">
    <h1 class="default-header-name">
      Виктор Хапка
    </h1>
    <div class="user-mode">
      <span>
        Customer: Guest
      </span>
    </div>
  </div>
  <nav class="default-header-navbar">
    <a id="index" class="default-header-navbar-button" href="index">Главная</a>
    <a id="experience" class="default-header-navbar-button" href="experience">Опыт Работы</a>
    <a id="projects" class="default-header-navbar-button" href="projects">Мои Проекты</a>
    <a id="feedback" class="default-header-navbar-button" href="feedback">Обратная Связь</a>
    <a id="login" class="default-header-navbar-button" href="login">Войти в аккаунт</a>
  </nav>
</header>

<!--<nav class="default-header-navbar">-->
  <!--  {{#each navItems}}-->
<!--    <a id="{{navId}}" class="default-header-navbar-button" href="{{navLink}}">{{navTitle}}</a></li>-->
  <!--  {{/each}}-->
<!--</nav>-->