<div class="login-box">
  <h2>Sing in</h2>
  <form>
    <div class="user-box">
      <input type="text" id="signInEmail" required>
      <label>email</label>
    </div>
    <div class="user-box">
      <input type="text" id="signInUsername" required>
      <label>username</label>
    </div>
    <div class="user-box">
      <input type="text" id="signInPassword" required>
      <label>password</label>
    </div>
    <div class="user-box">
      <input type="text" id="signInSurname" required>
      <label>surname</label>
    </div>
    <div class="user-box">
      <input type="text" id="signInName" required>
      <label>name</label>
    </div>
    <input type="button" class="login-submit-button" value="Sign In" onclick="signInButton()">
  </form>
</div>

<div class="login-box">
  <h2>Login into account</h2>
  <form>
    <div class="user-box">
      <input type="text" id="username" required>
      <label>username</label>
    </div>
    <div class="user-box">
      <input type="password" id="password" required>
      <label>password</label>
    </div>
    <input type="button" class="login-submit-button" value="Log In" onclick="loginButton();">
  </form>
</div>