<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head title="Опыт работы"}}
</head>
<body class="default-body">
{{> header }}
<main>
  <section class="main-section">
    <h2 class="main-section-header">
      <span>Опыт работы</span>
    </h2>
    <ul class="main-section-text">
      <li>
        <h4>
          ITMO University teacher
        </h4>
        <ul>
          <li>
                        <span>
                            Написал <del>крупный</del> микросервис для компании, которая успешно реализует его
                        </span>
          </li>
          <li>
                        <span>
                            Создал своё расширение в Visual Studio для C# для рефакторинга кода, которое <b>скачало больше 5млн</b> человек
                        </span>
          </li>
        </ul>
      </li>
      <li>
        <h4>
          Data base разработчик
        </h4>
        <ul>
          <li>
                        <span>
                            <b>Спроектировал базу данных</b> для<ins><del>крупной</del> компании</ins>,
                            чтобы они могли хранить необходимую информацию
                        </span>
          </li>
          <li>
                        <span>
                            Участвовал как приглашенный лектор на преподавание предмета в университете ИТМО
                        </span>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</main>
{{> footer}}
</body>
</html>
