<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head title="Поддержка"}}
  <link rel="stylesheet" href="Sources/Styles/Tables/feedback_form.css" type="text/css">
  <script src="Sources/Scripts/feedbackForm.js"></script>
</head>
<body class="default-body">
{{> header }}
<main>
  <section class="main-section">
    <h2>
      <span>Вопросы, Жалобы, Предложения</span>
    </h2>
    <div>
      <form id="feedback-form-id" class="feedback-form">
        <div>
          <input required type="text" maxlength="50" placeholder="Тема обращение" class="text-field box1" id="title">
          <label for="title"></label>
        </div>
        <div>
          <input required type="text" placeholder="Текст обращения" class="text-field box3" id="description">
          <label for="description"></label>
        </div>
        <input type="button" class="submit-button box4" value="Send" onclick="listenToSubmit()">
      </form>
    </div>
    <h2>
      <span>Ваши предложения:</span>
    </h2>
    <div>
      <table class="grid-form-table">
        <thead>
        <tr>
          <th>Тема обращения</th>
          <th>Дата обращения</th>
          <th>Текст обращения</th>
          <th>Статус</th>
        </tr>
        </thead>
        <tbody class="grid-from-table-body">
        </tbody>
      </table>
      <template id="feedback-form-response">
        <tr>
          <td>
            ${suggestObject["title"].toString()}
          </td>
          <td>
            ${suggestObject["createdAt"].toString()}
          </td>
          <td>
            ${suggestObject["message"].toString()}
          </td>
          <td>
            ${suggestObject["status"].toString()}
          </td>
        </tr>
      </template>
    </div>
    <button id="downloadButton" class="pagination-button">Download More</button>
  </section>
</main>
{{> footer}}
</body>
</html>
