<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head title="Отзывы"}}
  <link rel="stylesheet" href="Sources/Styles/Tables/feedback_form.css" type="text/css">
  <script src="Sources/Scripts/feedbackForm.js"></script>
</head>
<body class="default-body">
{{> header }}
<main>
  <section class="main-section">
    <h2>
      <span>Вопросы, Жалобы, Предложения</span>
    </h2>
    <div>
      <form id="feedback-form-id" class="feedback-form">
        <label for="title"></label><input required type="text" maxlength="50" placeholder="Ваш вопрос"
                                          class="text-field box1" id="title">
        <label for="contact"></label><input required type="text" maxlength="50" placeholder="Контакт для связи"
                                            class="text-field box2" id="contact">
        <label for="description"></label><input required type="text" placeholder="Опиcание" class="text-field box3"
                                                id="description">
        <input type="submit" class="submit-button box4">
      </form>
    </div>
    <h2>
      <span>Ваши предложения:</span>
    </h2>
    <div>
      <table class="grid-form-table">
        <thead>
        <tr>
          <th>Вопрос</th>
          <th>Контакт</th>
          <th>Описание</th>
        </tr>
        </thead>
        <tbody class="grid-from-table-body">
        </tbody>
      </table>
      <template id="feedback-form-response">
        <tr>
          <td>
            ${suggestObject["title"].toString()}
          </td>
          <td>
            ${suggestObject["contact"].toString()}
          </td>
          <td>
            ${suggestObject["description"].toString()}
          </td>
        </tr>
      </template>
    </div>
  </section>
</main>
{{> footer}}
</body>
</html>
