<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="Sources/Styles/Tables/login.css" type="text/css">
  {{> head title="Войти в аккаунт"}}
</head>
<body class="default-body">
{{> header }}
<main>
  <section class="main-section">
    {{> loginForm}}
  </section>
</main>
{{> footer}}
</body>
</html>
