<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head title="Мои проекты"}}
</head>
<body class="default-body">
{{> header }}
<main>
  <section class="main-section">
    <h2 class="main-section-header">
      Мои достижения
    </h2>
    <ol class="main-section-text">
      <li>
        <span> Победитель олимпиады <strong>(призёр 1й степени)</strong></span>
      </li>
      <li>
        <span> Финалист олимпиады <strong>(топ 100 из 1000)</strong></span>
      </li>
    </ol>
  </section>
  <section class="main-section">
    <h2 class="main-section-header">
      Отзывы и рекомендации
    </h2>
  </section>
  <div id="comments">
    <img src="Sources/MediaSources/loading.webp" alt="loading" id="loading" class="loading">
  </div>
</main>
{{> footer}}
<script src="Sources/Scripts/comments.js"></script>
</body>
</html>
